/* ## root */
html {
  box-sizing: border-box;
  font: 16px/1.25 normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #666;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
}
html {
  overflow-x: hidden;
  word-wrap: break-word;
}

/* ## all */
html * {
  /* remove */
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  text-decoration: none;
  /* correct */
  vertical-align: baseline;
  /* inherit */
  box-sizing: inherit;
  font: inherit;
  color: inherit;
  text-align: inherit;
}

/* ## pseudo */
*:before,
*:after {
  box-sizing: inherit;
}

/* ## media */
img,
figure,
picture,
video,
iframe,
object,
embed {
  display: block;
  max-width: 100%;
}

/* ## list */
ul,
ol {
  list-style: none;
}

dt,
dd {
  display: inline-block;
}

/* ## table */
table {
  width: 100%;
  border-collapse: collapse;
}

/* ## text */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.25em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.15em;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 1em;
}
del,
s {
  text-decoration: line-through;
  color: #ccc;
}
u {
  text-decoration: underline wavy red;
}
rt {
  font-size: 0.5em;
}
mark {
  background: #ffef65;
}
small {
  font-size: 0.8em;
}
sup {
  font-size: 0.5em;
  vertical-align: 8px;
}
sub {
  font-size: 0.5em;
  vertical-align: -8px;
}

/* ## form */
label {
  cursor: pointer;
}

input,
select,
textarea,
button {
  /* border: 1px solid #ddd; */
  -webkit-appearance: none;
  width: 12em;
  height: 2em;
  border-radius: 3px;
  padding: 0.25em 0.5em;
  background: #eee;
}
select {
}
textarea {
  min-height: 2em;
  resize: vertical;
}

[type='color'] {
  width: 2em;
  padding: 0.375em;
  cursor: pointer;
}
::-webkit-color-swatch-wrapper,
::-webkit-color-swatch {
  margin: 0;
  padding: 0;
  border: 0;
}

[type='range'] {
  padding: 0;
  background: transparent;
  cursor: pointer;
}
::-webkit-slider-runnable-track {
  width: 0.5em;
  height: 0.5em;
  background: #eee;
  border-radius: 1em;
}
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  margin-top: -0.25em;
  border: 1px solid #ddd;
  border-radius: 50%;
  background: #fff;
  cursor: ew-resize;
}
[type='range'][orient='vertical'] {
  width: 2em;
  height: 200px;
  margin-top: 0;
  -webkit-appearance: slider-vertical;
}
[type='range'][orient='vertical']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  margin-top: 0;
  margin-left: -6px;
  border: 1px solid #ddd;
  border-radius: 50%;
  background: #fff;
  cursor: ns-resize;
}

[type='radio'],
[type='checkbox'] {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  padding: 0.25em;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: transparent;
  background-clip: content-box;
  vertical-align: -0.333ex;
  cursor: pointer;
}
[type='checkbox'] {
  border-radius: 3px;
}
[type='radio']:checked,
[type='checkbox']:checked {
  background-color: #0af;
}

button {
  /* border: 1px solid #bbb; */
  width: auto;
  cursor: pointer;
}

:disabled {
  opacity: 0.5;
}

/* ## progress */
progress {
  width: 12em;
  height: 0.5em;
  margin: 0.25em 0;
  background: #eee;
  border-radius: 1em;
  overflow: hidden;
}
::-webkit-progress-inner-element {
  border-radius: inherit;
}
::-webkit-progress-bar {
  background: none;
}
::-webkit-progress-value {
  background: #0af;
  border-radius: inherit;
}

/* ## details */
summary {
  cursor: pointer;
}
::-webkit-details-marker {
  width: 0.5em;
  height: 0.5em;
  color: #bbb;
}
::marker {
  width: 0.5em;
  height: 0.5em;
  color: #bbb;
}

/* ## code */
code {
  background: #353027;
  color: #fff;
  padding: 0 0.375em;
  border-radius: 0.25em;
  margin: 1px;
}

pre > code {
  display: block;
}

/* ## scrollbar */
@media all and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

@media all and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: 9px;
    background: #ddd;
    background-clip: content-box;
  }
  :hover::-webkit-scrollbar-thumb {
    background-color: #bbb;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
    background-clip: border-box;
  }
  ::-webkit-scrollbar-thumb:active {
    background-color: #888;
  }
  html::-webkit-scrollbar-thumb,
  body::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-width: 1px;
  }
}

@media all and (min-width: 1280px) {
  html {
    overflow-x: hidden;
  }
  body {
    width: 100vw;
  }
}
