/* ## root */
html {
  box-sizing: border-box;
  background: #fff;
  font: 16px/1.25 normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #444;
  text-align: left;
  word-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  background: var(--root-background, #fff);
  color: var(--color, #444);
}

/* ## all */
html * {
  /* remove */
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  text-decoration: none;
  /* correct */
  vertical-align: baseline;
  /* inherit */
  box-sizing: inherit;
  font: inherit;
  color: inherit;
  text-align: inherit;
}

/* ## pseudo */
*:before,
*:after {
  box-sizing: inherit;
}

/* ## media */
img,
figure,
picture,
video,
iframe,
object,
embed {
  display: block;
  max-width: 100%;
}

/* ## list */
ul,
ol {
  list-style: none;
}

dt,
dd {
  display: inline-block;
}

/* ## table */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* ## text */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  color: var(--heading-color, #000);
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.25em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.15em;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 1em;
}
del,
s {
  text-decoration: line-through;
  color: #ddd;
  color: var(--disabled-color, #ddd);
}
u {
  text-decoration: underline wavy red;
}
rt {
  font-size: 0.8em;
}
mark {
  color: #fff;
  background: #0af;
  background: var(--primary-color, #0af);
}
small {
  font-size: 0.8em;
}
sup {
  font-size: 0.8em;
  vertical-align: 8px;
}
sub {
  font-size: 0.8em;
  vertical-align: -8px;
}
abbr[title] {
  text-decoration: underline dotted;
}

/* ## form */
label {
  cursor: pointer;
}

/* ### input and button */
.input {
  -webkit-user-modify: read-write;
  -webkit-user-modify: read-write-plaintext-only;
  -moz-user-modify: read-write;
  -moz-user-modify: read-write-plaintext-only;
  user-modify: read-write;
  user-modify: read-write-plaintext-only;
}
input,
select,
textarea,
[contenteditable],
button {
  -webkit-appearance: none;
  appearance: none;
  height: 2em;
  padding: 0.25em 0.5em;
  border: 1px solid #ddd;
  border-radius: 3px;
  vertical-align: middle;
  height: var(--input-height, 2em);
  border: var(--input-border, 1px solid #ddd);
  border-radius: var(--input-border-radius, 3px);
  background: var(--input-background, none);
}

/* ### input */
input,
select,
textarea,
[contenteditable] {
  width: 12em;
  width: var(--input-width, 12em);
  box-shadow: var(--input-box-shadow, none);
}
select {
}
textarea,
[contenteditable] {
  min-height: 2em;
  overflow: auto;
  resize: vertical;
  min-height: var(--input-height, 2em);
}
[rows],
[multiple],
[contenteditable] {
  height: auto;
}

/* #### range */
[type='range'] {
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
  cursor: pointer;
}
input[type='range'] {
  border: none;
}

::-webkit-slider-runnable-track {
  height: 0.5em;
  border-radius: 1em;
  background: #eee;
  height: var(--progress-bar-height, 0.5em);
  background: var(--progress-bar-background, #eee);
  box-shadow: var(--progress-bar-box-shadow, none);
}
::-moz-range-track {
  height: 0.5em;
  border-radius: 1em;
  background: #eee;
  height: var(--progress-bar-height, 0.5em);
  background: var(--progress-bar-background, #eee);
  box-shadow: var(--progress-bar-box-shadow, none);
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  margin-top: calc((-1em + 0.5em) / 2);
  border: 1px solid #ddd;
  border-radius: 50%;
  background: #fff;
  margin-top: calc((-1em + var(--progress-bar-height, 0.5em)) / 2);
  border: var(--input-border, 1px solid #ddd);
  box-shadow: var(--input-box-shadow, none);
}
::-moz-range-thumb {
  width: 1em;
  height: 1em;
  border: 1px solid #ddd;
  border-radius: 50%;
  background: #fff;
  margin-top: calc((-1em + var(--progress-bar-height)) / 2);
  border: var(--input-border, 1px solid #ddd);
  box-shadow: var(--input-box-shadow, none);
}

[type='range'][orient='vertical'] {
  width: 2em;
  height: 200px;
  margin-top: 0;
  -webkit-appearance: slider-vertical;
}
[type='range'][orient='vertical']::-webkit-slider-thumb {
  margin-top: 0;
  margin-left: -6px;
}

/* #### number */
::-webkit-inner-spin-button {
  width: 1.25em;
  height: 2em;
  margin-right: -0.5em;
}
::-moz-number-spin-box {
}

/* TODO #### date */
[type='date']:after {
  /* content: attr(placeholder); */
  color: #aaa;
  color: var(--placeholder-color, #aaa);
}

/* #### file */
::-webkit-file-upload-button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: none;
  pointer-events: none;
  color: inherit;
  color: var(--placeholder-color, inherit);
}
[type='file']::before {
  /* content: attr(placeholder); */
  color: #aaa;
  color: var(--placeholder-color, #aaa);
}

/* #### color */
[type='color'] {
  width: 2em;
  padding: 0.375em;
  cursor: pointer;
  width: var(--input-height, 2em);
}
::-webkit-color-swatch-wrapper,
::-webkit-color-swatch {
  margin: 0;
  padding: 0;
  border: 0;
}
::-moz-color-swatch {
  border: none;
}

/* #### checkbox radio */
[type='checkbox'],
[type='radio'] {
  -webkit-appearance: none;
  appearance: none;
  flex: none;
  width: 1em;
  height: 1em;
  padding: 0.25em;
  border: 1px solid #ddd;
  background: none;
  vertical-align: -0.125em;
  cursor: pointer;
  width: var(--checkbox-width, 1em);
  height: var(--checkbox-height, 1em);
  border: var(--checkbox-border, 1px solid #ddd);
  background: var(--checkbox-background, content-box transparent);
}
[type='checkbox'] {
}
[type='radio'] {
  border-radius: 50%;
  width: var(--radio-width, 1em);
  height: var(--radio-height, 1em);
  border: var(--radio-border, 1px solid #ddd);
  background: var(--radio-background, content-box transparent);
}
[type='checkbox']:checked {
  background: content-box #0af;
  background: var(--checkbox-checked-background, content-box #0af);
}
[type='radio']:checked {
  background: content-box #0af;
  background: var(--radio-checked-background, content-box #0af);
}
[type='checkbox']:indeterminate {
  padding: 0.375em 0.25em;
  background: content-box #0af;
  background: var(--checkbox-checked-background, content-box #0af);
}

/* ### button */
button {
  width: auto;
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-align: center;
  cursor: pointer;
  border: var(--button-border, 1px solid #ddd);
  border-radius: var(--button-border-radius, 3px);
  background: var(--button-background, none);
}
button:active {
  transform: scale(0.95);
  opacity: 0.8;
  /* box-shadow: none; */
  transition: 0s;
}
[type='submit'],
button:only-of-type {
  color: #fff;
  border-color: transparent;
  background: #0af;
  background: var(--primary-color, #0af);
}

/* ### status */
:disabled {
  opacity: 0.5;
}

/* ### placeholder */
::placeholder {
  opacity: 1;
  line-height: normal;
  color: #aaa;
  color: var(--placeholder-color, #aaa);
}
:blank {
  /* future */
}
option:first-child[value=''],
option:first-child:not([value]) {
  color: #aaa;
  color: var(--placeholder-color, #aaa);
}
::-webkit-datetime-edit {
  /* color: #aaa; */
  /* color: var(--placeholder-color, #aaa); */
}
/* date: / */
::-webkit-datetime-edit-text {
  display: inline-block;
  width: 0.75em;
  text-align: center;
  color: #aaa;
  color: var(--placeholder-color, #aaa);
}

/* #### contenteditable */
[contenteditable]:empty:before {
  content: attr(placeholder);
  color: #aaa;
  color: var(--placeholder-color, #aaa);
}

/* ### checked */
option:checked {
  color: #0af;
  color: var(--primary-color, #0af);
}

/* ### focus */
:focus {
  border: var(--focus-border, solid 1px #bbb);
}
:focus::-webkit-slider-thumb {
  border: var(--focus-border, solid 1px #bbb);
}
:focus::-moz-range-thumb {
  border: var(--focus-border, solid 1px #bbb);
}

/* ### valid */
:focus:not(:placeholder-shown):valid {
  /* color: var(--success-color); */
}
:focus:not(:placeholder-shown):invalid {
  color: var(--warning-color, #f80);
}
:not(form):not(fieldset):not(:focus):not(:placeholder-shown):invalid {
  color: var(--error-color, red);
  border-color: var(--error-color, red);
  /* text-decoration: line-through; */
}

:invalid [type='submit'] {
  opacity: 0.5;
  cursor: not-allowed;
  /* pointer-events: none; */
}

/* ## progress */
progress {
  width: 12em;
  height: 0.5em;
  margin: 0.75em 0;
  border-radius: 1em;
  overflow: hidden;
  background: #eee;
  width: var(--input-width, 12em);
  height: var(--progress-bar-height, 0.5em);
  background: var(--progress-bar-background, #eee);
  box-shadow: var(--progress-bar-box-shadow, none);
}
::-webkit-progress-inner-element {
}

::-webkit-progress-bar {
  background: none;
}

::-webkit-progress-value {
  background: #0af;
  background: var(--progress-bar-value-background, #0af);
}
::-moz-progress-bar {
  background: #0af;
  background: var(--progress-bar-value-background, #0af);
}

/* ## meter */
meter {
  width: 12em;
  height: 0.5em;
  margin: 0.75em 0;
  border-radius: 1em;
  overflow: hidden;
  background: #eee;
  width: var(--input-width, 12em);
  height: var(--progress-bar-height, 0.5em);
  background: var(--progress-bar-background, #eee);
  box-shadow: var(--progress-bar-box-shadow, none);
}
::-webkit-meter-inner-element {
  height: 9ex;
}
::-webkit-meter-bar {
  height: 9ex;
  border: none;
  border-radius: 0;
  background: none;
}
::-webkit-meter-optimum-value {
  background: #0af;
  background: var(--progress-bar-value-background, #0af);
}
:-moz-meter-optimum::-moz-meter-bar {
  background: #0af;
  background: var(--progress-bar-value-background, #0af);
}

/* ## details */
summary {
  cursor: pointer;
}
::-webkit-details-marker {
  width: 0.5em;
  height: 0.5em;
  color: #ddd;
  color: var(--border-color, #ddd);
}
::marker {
  width: 0.5em;
  height: 0.5em;
  color: #ddd;
  color: var(--border-color, #ddd);
}

/* ## code */
code {
  margin: 1px;
  padding: 0 0.375em;
  border-radius: 0.25em;
  font-size: 0.875em;
  background: #272822;
  color: #fff;
}

pre > code {
  display: block;
}

kbd {
  padding: 0 0.375em;
  border-radius: 0.25em;
  font-size: 0.875em;
  background: #000;
  color: #fff;
}

var {
  font-style: italic;
}

/* ## scrollbar */

/* ### body: 100vw */
@media screen {
  html {
    overflow-x: hidden;
  }
  body {
    width: 100vw;
  }
}

/* ### windows chrome */
/* @media screen and (pointer: fine) { */
@media screen and (pointer: fine) and (max-resolution: 1dppx) {
  ::-webkit-scrollbar {
    display: block;
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border: 1px solid transparent;
    border-radius: 9px;
    background: rgba(0, 0, 0, 0.05);
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb:horizontal {
    /* border-width: 4px; */
  }

  :hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-width: 0;
  }
  ::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.4);
  }

  html:hover body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    /* border-width: 0px; */
  }
}

/* ### !mac <=480px: small */
@media screen and (max-resolution: 1dppx) and (max-width: 480px) {
  ::-webkit-scrollbar {
    /* display: none; */
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    border-width: 0px;
  }
}

/* ### moz */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.05) transparent;
}

/* xx *:hover */
html:hover,
body:hover,
div:hover,
ul:hover,
ol:hover,
dl:hover {
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

/* ### ms */
* {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* ## selection */
::selection {
  color: #fff;
  background: #0af;
  background: var(--primary-color, #0af);
}

/* ## transition */
* {
  transition-duration: 0.3s;
  transition-property: max-height, min-height, opacity, color, background,
    border, box-shadow, transform, stroke, stroke-dasharray, fill;
}
