/* ## var */
:root {
  --color: #444;
  --heading-color: #000;
  --primary-color: #0bf;
  --success-color: #8f8;
  --warning-color: #f80;
  --error-color: #f55;
  --muted-color: #aaa;
  --disabled-color: #ddd;
  --border-color: rgba(213, 224, 226, 0.5);
  --background-color: #fff;
  --box-shadow-color: #eee;
  --placeholder-color: var(--muted-color);

  --border: solid 1px var(--border-color);
  --border-radius: 3px;
  --focus-border: solid 1px #bbb;

  --background: var(--background-color);
  --root-background: var(--background);

  --box-shadow: 0px 0px 10px var(--box-shadow-color);

  --input-width: 15em;
  --input-height: 2em;
  --input-border: var(--border);
  --input-border-radius: var(--border-radius);
  --input-background: var(--background);
  --input-box-shadow: 0px 0px 3px -1px var(--box-shadow-color);

  --button-height: var(--input-height);
  --button-border: var(--input-border);
  --button-border-radius: var(--input-border-radius);
  --button-background: var(--input-background);
  --button-box-shadow: var(--input-box-shadow);

  --checkbox-width: 1em;
  --checkbox-height: 1em;
  --checkbox-border: var(--input-border);
  --checkbox-background: content-box transparent;
  --checkbox-checked-background: content-box var(--primary-color);

  --radio-width: var(--checkbox-width);
  --radio-height: var(--checkbox-height);
  --radio-border: var(--checkbox-border);
  --radio-background: var(--checkbox-background);
  --radio-checked-background: var(--checkbox-checked-background);

  --progress-bar-height: 0.5em;
  --progress-bar-background: var(--border-color);
  --progress-bar-value-background: var(--primary-color);
  --progress-bar-box-shadow: var(--input-box-shadow);
}
